h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transform: translateY(200%);
  background-color: cadetblue;
  
}
div {
  width: 100%;
  height: auto;
}
* {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}
